<h1>Examples</h1>
<h2>Forms</h2>
<form class="form-horizontal" method="post" action="/examples/form">
    <div class="control-group">
        <label class="control-label" for="email">email</label>
        <div class="controls">
            <input type="text" id="email" name="email" placeholder="email">
        </div>
    </div>
    <div class="control-group">
        <label class="control-label" for="password">password</label>
        <div class="controls">
            <input type="password" id="password" name="password" placeholder="password">
        </div>
    </div>
    <div class="control-group">
        <div class="controls">
            <label class="checkbox">
                <input type="checkbox" id="rememberme" name="rememberme" value="rememberme"> remember me
            </label>
            <label class="checkbox">
                <input type="checkbox" id="pardonmyappearance" name="pardonmyappearance" value="pardonmyappearance"> pardon my appearance
            </label>
            <button type="submit" class="btn">sign in</button>
        </div>
    </div>
</form>
