<!-- jumbotron -->
<div class="jumbotron">
    <h1>Coccyx.js</h1>
    <p class="lead">A very tiny, slightly opinionated, HTML5 client-side MVC library that is Require.js/AMD compliant, implemented over REST, very easy to use, and supports a modern front-end work flow and promotes best practices.</p>
    <a class="btn btn-large btn-primary" href="#">Download Coccyx</a>
    <ul class="jumbotron-links">
        <li><a href="#">GitHub Project</a></li>
        <li class="muted">Version 0.0.1</li>
    </ul>
</div>

<hr>

<!-- row of columns -->
<div class="row-fluid">
    <div class="span4">
        <h2>Tiny & Simple!</h2>
        <p>Coccyx.js is tiny, which makes it ideal for both mobile and desktop browsers.</p>
        <p>Besides being very small, Coccyx.js is very easy to learn and develop with.</p>
        <p>Check out the examples to see how quicly it is to get started using and developing your apps with Coccyx.js.</p>
    </div>
    <div class="span4">
        <h2>Opinionated!</h2>
        <p>REST is fundamental to building solid and resilient client-side applications, so therefore all routing is driven by RESTful URLs.</p>
        <p>Coccyx.js exposes itself as a Require.js/AMD module and therefore encourages highly modularized client-side applications, though if you prefer, Coccyx is also scoped to a single global variable if you prefer to use it that way.</p>
    </div>
    <div class="span4">
        <h2>Modern</h2>
        <p>Supports multiple controllers, which in turn encourages separation of concerns and modularization.</p>
        <p>Supports REST-based routing ("get", "post", "put", "delete"). Supports browser pushstate and RESTful URLs, making your apps crawler friendly.</p>
    </div>
</div>
