<!-- Modal -->
<div id="loggedinModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="loggedinModalLabel" aria-hidden="true">
  <div class="modal-header">
    <h3 id="loggedinModalLabel">Info</h3>
  </div>
  <div class="modal-body">
    <p>You have successfully logged in as user {{email}}</p>
  </div>
  <div class="modal-footer">
    <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
  </div>
</div>